
        <div class="col-md-3">
          <h2>Title: <%= @sentence.title %> - statistisc from www.counttxt.com</h2>
        </div> 

        <div class="col-md-12">
        </div>
        <div class="col-md-12">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th><h4>Statistic:</h4></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>All characters:</td>
                <td><%= @character_count %></td>
              </tr>
              <tr>
                <td>Characters without spaces:</td>
                <td><%= @character_count_nospaces %></td>
              </tr>
              <tr>
                <td>Words: </td>
                <td><%= @word_count %></td>
              </tr>
              <tr>
                <td>Sentence:</td>
                <td><%= @sentence_count %></td>
              </tr>
              <tr>
                <td>Average characters in one word:</td>
                <td><%= (@character_count_nospaces.to_f/@word_count).round(2) %></td>
              </tr>
              <tr>
                <td>Average words in one sentence:</td>
                <td><%= (@word_count.to_f/@sentence_count).round(2) %> </td>
              </tr>
              <tr>
                <td>Percente good words:</td>
                <td><%= @good_percentage %>%</td>
              </tr>
            </tbody>
          </table>
        </div>
        

        <div class="col-md-12">
          <table class="table table-striped table-hover ">
          <h4>Top unfiltered words: </h4>
            <thead>
              <tr>
                <th>Word</th>
                <th>Amount </th>
                <th>Percent </th>
              </tr>
            </thead>
            <tbody>
             <% @freqs.each do |word, freq| %>
              <tr>
                <td><%= word %> </td>
                <td><%=freq.to_s %> </td>
                <td><%=((freq.to_f/@character_count_nospaces)*100).round(2) %> %</td>
              </tr>
          <% end %>
           </tbody>
          </table>
        </div>

        <div class="col-md-12">
          <h4>Summary sentences:</h4>
          <blockquote><%= @ideal_sentences %></blockquote>
        </div>
      
