<% provide(:title, @sentence.title) %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="col-md-3">
          <%= link_to image_tag('logo3.png'), root_path %>
        </div> 

        <div class="col-md-9">
         <h3><%= @sentence.title %></h3>
         <br>
        </div>

        <div class="col-md-12">
        </div>
        <div class="col-md-6">
        <div class="panel panel-default">
         <div class="panel-body">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th><h4>Statistic:</h4></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>All characters:</td>
                <td><%= @character_count %></td>
              </tr>
              <tr>
                <td>Characters without spaces:</td>
                <td><%= @character_count_nospaces %></td>
              </tr>
              <tr>
                <td>Words: </td>
                <td><%= @word_count %></td>
              </tr>
              <tr>
                <td>Sentence:</td>
                <td><%= @sentence_count %></td>
              </tr>
              <tr>
                <td>Average characters in one word:</td>
                <td><%= (@character_count_nospaces.to_f/@word_count).round(2) %></td>
              </tr>
              <tr>
                <td>Average words in one sentence:</td>
                <td><%= (@word_count.to_f/@sentence_count).round(2) %> </td>
              </tr>
              <tr>
                <td>Percente good words:</td>
                <td><%= @good_percentage %>%</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        </div>

        <div class="col-md-6">
          <%= raw pie_chart ({"Good words" => @good_percentage, "Stop words" => @bad_percentage}) %>
        </div>
        

        <div class="col-md-12">
         <div class="panel panel-default">
         <div class="panel-body">
          <table class="table table-striped table-hover ">
          <h4>Top unfiltered words: </h4>
            <thead>
              <tr>
                <th>Word</th>
                <th>Amount </th>
                <th>Percent </th>
              </tr>
            </thead>
            <tbody>
             <% @freqs.each do |word, freq| %>
              <tr>
                <td><%= word %> </td>
                <td><%=freq.to_s %> </td>
                <td><%=((freq.to_f/@character_count_nospaces)*100).round(2) %> %</td>
              </tr>
          <% end %>
           </tbody>
          </table>
          </div>
          </div>
        </div>

        <div class="col-md-12">
          <%= column_chart (@freqs.each { |word, freq| {"#{word}" => freq} })%>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
             <div class="panel-body">
              <h4>Summary sentences:</h4>
             </div>
              <div class="panel-footer">
                 <blockquote><%= @ideal_sentences %></blockquote>
              </div>
            </div>
        </div>

        <div class="col-md-12">
           <p style="text-align:center">
            <%= link_to new_sentence_path, class: "btn btn-primary" do %><span class="glyphicon glyphicon-chevron-left"></span> Back<% end %>
            <%= link_to show_path(@sentence, :format => :pdf), class: "btn btn-success" do%><span class="glyphicon glyphicon-print"></span> PDF <% end %>
           </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
 