<html>
  <head></head>
  <title>RailsWickedPdf
  <%= wicked_pdf_stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= wicked_pdf_javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "http://www.google.com/jsapi"%>
<%= wicked_pdf_javascript_include_tag 'chartkick'%>
    <%= csrf_meta_tags %>
  </title>
  <body>
    <%= yield %>
  </body>
</html>